{% extends 'base.html' %}

{% block title %}
<title>WELCOME</title> 
{% endblock %}


{% block body %}
<div class="box-head">
    <p class="box-title">
        Create your TO-DO LIST
    </p>
</div>
<hr>
{% endblock %}


{% block content %}
<div class="redirect-btns">
    <p style="text-align: center;">
        Don't Have an Account? Register NOW!
    </p>
    <form action="{{url_for('register')}}">
        <button>SIGN UP</button>
    </form>
    <p style="text-align: center;">
        Already Registered?
    </p>
    <form action="{{url_for('auth.login')}}">
        <button>SIGN IN</button>
    </form>
</div>
{% endblock %}