{% extends 'base.html' %}

{% block title %}
<title>Login</title> 
{% endblock %}


{% block body %}
<div class="box-head">
    <p class="box-title">
        LOGIN to your account
    </p>
</div>
<hr>
{% endblock %}

{% block content %}

<div class="login-form">
    <form action="/auth_user", method="POST">
        <div class="form-fields">
            <input type="text" name="username" placeholder="Enter your username"><br>
            <input type="password" name="password" placeholder="Enter your password"><br>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>

{% endblock %}