{% extends 'base.html' %}

{% block title %}
<title>Login</title> 
{% endblock %}


{% block body %}
<div class="box-head">
    <p class="box-title">
        LOGIN to your account
    </p>
</div>
<hr>
{% endblock %}

{% block content %}

<div class="login-form">
    <form action="{{ url_for('auth.verify_user')}}", method="POST">
        <div class="form-fields">
            <input type="text" name="username" placeholder="Enter your username"><br>
            <input type="password" name="password" placeholder="Enter your password"><br>
            <button type="submit">Submit</button>
        </div>
    </form>
    <p style="text-align: center;">
        Don't Have an Account? Register NOW!
    </p>
    <form action="{{url_for('register')}}">
        <button>SIGN UP</button>
    </form>
    {% if err %}
        <script>
            alert("{{ err_msg }}")
        </script>
    {% endif %}
</div>

{% endblock %}