{% extends 'base.html' %}

{% block title %}
<title>Login</title> 
{% endblock %}


{% block body %}
<div class="box-head">
    <p class="box-title">
        LOGIN to your account
    </p>
</div>
<hr>
{% endblock %}

{% block content %}

<div class="login-form">
    <form action="{{ url_for('auth.verify_user')}}", method="POST">
        <div class="form-fields">
            <input type="text" name="username" placeholder="Enter your username"><br>
            <input type="password" name="password" placeholder="Enter your password"><br>
            <button class="button-81" type="submit" style="margin-top:10px">Submit</button>
        </div>
    </form>

    <hr style="margin-top:75px">
    
    <div class="text-center">
        <form action="{{url_for('register')}}">
            <button class="button-81 login-buttons"> Don't Have an Account?</button>
        </form>
    </div>

    {% if err %}
        <script>
            alert("{{ err_msg }}")
        </script>
    {% endif %}
</div>

{% endblock %}