{% extends 'base.html' %}

{% block title %}
<title>Register</title> 
{% endblock %}


{% block body %}
<div class="box-head">
    <p class="box-title">
        REGISTER a new account
    </p>
</div>
<hr>
{% endblock %}


{% block content %}
<div class="login-form">
    <form action="{{ url_for('new_user.new_user_register') }}", method="POST">
        <div class="form-fields">
            <input type="text" name='username' placeholder="Enter your username"><br>
            <input type="text" name='email' placeholder="Enter your email"><br>
            <input type="password" name="password" placeholder="Enter your password"><br>
            <input type="password" name="re-pass" placeholder="Reenter your password"><br>
        </div>
        <div class="row">
                <div class="col-4">
                    <button class="button-81" style="width: 100%; margin-top: 20px;">Register</button>
                </div>
            </div>
    </form>
    <hr style="margin-top: 50px;">
    <p style="text-align: center;">
        Already Registered?
    </p>
    <form action="{{url_for('auth.login')}}">
        <div class="row">
            <div class="col-10 offset-1">
                <button class="button-81" style="width: 100%">SIGN IN</button>
            </div>
        </div>
    </form>
    {% if err %}
    <script>
        alert("{{ err_msg }}");
    </script>
    {% endif %}
</div>
{% endblock %}