{% extends 'base.html' %}

{% block title %}
<title>Register</title> 
{% endblock %}


{% block body %}
<div class="box-head">
    <p class="box-title">
        REGISTER a new account
    </p>
</div>
<hr>
{% endblock %}


{% block content %}
<div class="login-form">
    <form action="{{ url_for('new_user.new_user_register') }}" method="POST">
        <div class="form-fields">

            {% set username_error = None %}
            {% set email_error = None %}
            {% set empty_password = None %}
            {% set different_passwords = None %}

            {% with messages = get_flashed_messages(with_categories=true) %}                
                {% for category, msg in messages %}
                    {% if category == 'username_error' %}
                        {% set username_error = msg %}
                    {% elif category == 'email_error' %}
                        {% set email_error = msg %}
                    {% elif category == 'empty_password' %}
                        {% set empty_password = msg %}
                    {% elif category == 'different_passwords' %}
                        {% set different_passwords = msg %}
                    {% endif %}
                {% endfor %}

                <input type="text" class="form-control {% if username_error %}is-invalid{% endif %}" id="username"
                    name='username' placeholder="Enter your username" value="{{uname}}" required>

                {% if username_error %}
                    <div class="invalid-feedback">
                        {{ username_error }}
                    </div>
                {% endif %}

                <input type="email" class="form-control {% if email_error %}is-invalid{% endif %}" id="email"
                    name='email' placeholder="Enter your email" value="{{email}}" required>

                {% if email_error %}
                    <div class="invalid-feedback">
                        {{ email_error }}
                    </div>
                {% endif %}

                <input type="password" class="form-control {% if empty_password %}is-invalid{% endif %}" id="password"
                    name="password" placeholder="Enter your password" required>

                {% if empty_password %}
                    <div class="invalid-feedback">
                        {{ empty_password }}
                    </div>
                {% endif %}

                <input type="password" class="form-control {% if different_passwords %}is-invalid{% endif %}" id="repass"
                    name="repass" placeholder="Re-enter your password" required>

                {% if different_passwords %}
                    <div class="invalid-feedback">
                        {{ different_passwords }}
                    </div>
                {% endif %}

            {% endwith %}
        </div>
        <div class="row">
            <div class="col-10 offset-1">
                <button class="button-81" style="width: 100%; margin-top: 20px;">Register</button>
            </div>
        </div>
    </form>
    <hr style="margin-top: 50px;">
    <p style="text-align: center;">
        Already Registered?
    </p>
    <form action="{{url_for('auth.login')}}">
        <div class="row">
            <div class="col-10 offset-1">
                <button class="button-81" style="width: 100%">SIGN IN</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}